<% layout('layouts/boilerplate') -%>
<script> const mapToken = '<%- process.env.MAPBOX_TOKEN%>' 
const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>
<div class="mb-5" id="clusterMap"></div>
    <h1>All CampGrounds</h1>
    <% for(let campground of campgrounds) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                <% if(campground.images.length) { %>
                    <img crossorigin="anonymous" class="img-fluid" src="<%=campground.images[0].url%>" alt="">
                <% } else { %> 
                    <img crossorigin="anonymous" class="img-fluid" src="https://res.cloudinary.com/djdsjlgxy/image/upload/v1703227407/YelpCamp/g1p9oadb3lzmjly8f1wq.jpg" alt="">
                <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="text-muted">
                            <%= campground.location %>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id %>">View the
                            Campground</a>
                    </div>
                </div>
            </div>
        </div>

        <% } %>

        <script crossorigin="anonymous" src="/javascripts/clusterMap.js"></script>
